<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="twinscafe_menu_root" 
              name="Twins Cafe" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="twinscafe_cafe_menu_categ" 
              name="Menu Cafe" 
              parent="twinscafe_menu_root" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="twinscafe_pegawai_menu_categ" 
              name="Pegawai" 
              parent="twinscafe_menu_root" 
              sequence="20"/>

    <menuitem id="twinscafe_transaksi_menu_categ" 
              name="Transaksi" 
              parent="twinscafe_menu_root" 
              sequence="42"/>

</odoo>
